menu "Lumen"
    menu "Website"
        config WEB_MOUNT_POINT
            string "Website mount point in the VFS"
            default "/www"
            help
                Specify the mount point in the VFS.

    endmenu

    menu "Hardware"
        menu "Display"
            config HARDWARE_DISPLAY_PANEL_ROWS
                int "Display panel rows"
                default 4
                help
                    The number of panel rows in the display

            config HARDWARE_DISPLAY_PANEL_COLUMNS
                int "Display panel columns"
                default 3
                help
                    The number of panel columns in the display

            config HARDWARE_DISPLAY_PANEL_RES_X
                int "Display panel X resolution"
                default 32
                help
                    The horizontal length of each panel in the display

            config HARDWARE_DISPLAY_PANEL_RES_Y
                int "Display panel Y resolution"
                default 16
                help
                    The vertical width of each panel in the display

            config HARDWARE_DISPLAY_R1_PIN
                int "Display R1 pin"
                default 21
                help
                    Specify the GPIO number connected to the R1 pin of the display.

            config HARDWARE_DISPLAY_G1_PIN
                int "Display G1 pin"
                default 47
                help
                    Specify the GPIO number connected to the G1 pin of the display.

            config HARDWARE_DISPLAY_B1_PIN
                int "Display B1 pin"
                default 35
                help
                    Specify the GPIO number connected to the B1 pin of the display.

            config HARDWARE_DISPLAY_R2_PIN
                int "Display R2 pin"
                default 36
                help
                    Specify the GPIO number connected to the R2 pin of the display.

            config HARDWARE_DISPLAY_G2_PIN
                int "Display G2 pin"
                default 37
                help
                    Specify the GPIO number connected to the G2 pin of the display.

            config HARDWARE_DISPLAY_B2_PIN
                int "Display B2 pin"
                default 38
                help
                    Specify the GPIO number connected to the B2 pin of the display.

            config HARDWARE_DISPLAY_A_PIN
                int "Display A pin"
                default 39
                help
                    Specify the GPIO number connected to the A pin of the display.

            config HARDWARE_DISPLAY_B_PIN
                int "Display B pin"
                default 40
                help
                    Specify the GPIO number connected to the B pin of the display.

            config HARDWARE_DISPLAY_C_PIN
                int "Display C pin"
                default 41
                help
                    Specify the GPIO number connected to the C pin of the display.

            config HARDWARE_DISPLAY_D_PIN
                int "Display D pin"
                default 42
                help
                    Specify the GPIO number connected to the D pin of the display.

            config HARDWARE_DISPLAY_E_PIN
                int "Display E pin"
                default -1
                help
                    Specify the GPIO number connected to the E pin of the display. -1 Disables this pin.

            config HARDWARE_DISPLAY_LAT_PIN
                int "Display LAT pin"
                default 1
                help
                    Specify the GPIO number connected to the latch pin of the display. -1 Disables this pin.

            config HARDWARE_DISPLAY_OE_PIN
                int "Display OE pin"
                default 44
                help
                    Specify the GPIO number connected to the output-enable pin of the display. -1 Disables this pin.

            config HARDWARE_DISPLAY_CLK_PIN
                int "Display CLK pin"
                default 2
                help
                    Specify the GPIO number connected to the clock pin of the display. -1 Disables this pin.
        endmenu
    endmenu

    menu "Networking"
        menu "Wi-Fi"
            config NET_WIFI_SSID
                string "SoftAP SSID"
                default "lumen"
                help
                    SSID (network name) to setup the softAP with.

            config NET_WIFI_PASSWORD
                string "SoftAP Password"
                default "lumenaries"
                help
                    Wi-Fi password (WPA or WPA2) to use for the softAP.

            config NET_WIFI_MAX_STA_CONNECTION
                int "Maxmium STA Connections"
                default 4
                help
                    Max number of STA connections to AP.
        endmenu

        menu "mDNS"
            config NET_MDNS_HOSTNAME
                string "mDNS Hostname"
                default "lumen"
                help
                    mDNS hostname to allow users users to navigate to the UI.

        endmenu
    endmenu
endmenu
